---
// No props or imports needed for this basic Hero component
---

<section class="flex items-center min-h-[calc(100vh-96px)] relative py-12" aria-labelledby="hero-title">
  <div class="flex justify-between items-center w-full">
    <div class="w-full lg:w-full text-center lg:text-left">
      <span id="hero-title" role="heading" aria-level="1" class="block text-hero font-black text-white uppercase relative z-10 mb-6">
        GET NOTICED<br />OUT THERE
      </span>
      <p class="text-white font-bold mt-6">
     Among countless stars, your brand must outshine them all. <br />Our team amplifies your brilliance—ensuring your voice is heard, <br />even above the loudest competitors.
      </p>
      <ul class="text-white mt-4 list-disc list-inside">
        <li>Branding & Identity</li>
        <li>Web Design & Development</li>
        <li>Digital Advertising</li>
        <li>Content Creation</li>
      </ul>
      <div class="flex flex-wrap gap-4 mt-8 justify-center lg:justify-start">
        <a
          href="#get-started"
          aria-label="Navigate to the Get Started section"
          class="px-8 py-3 bg-[#00ffff] text-body font-bold rounded hover:bg-opacity-80 transition-colors uppercase"
        >
          ABOUT US
        </a>
        <a
          href="#our-work"
          aria-label="Navigate to the Our Work section"
          class="px-8 py-3 bg-[#FF00FF] text-body font-bold rounded hover:bg-opacity-80 transition-colors uppercase"
        >
          CONTACT US
        </a>
      </div>
    </div>
  </div>
</section>